<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add
        name="iisnode"
        path="server.js"
        verb="*"
        modules="iisnode"
      />
    </handlers>

    <rewrite>
      <rules>
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^server\.js\/debug[\/]?" />
        </rule>

        <rule name="StaticNodeAssets" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^server\.js\/(.*)" />
          <action type="Rewrite" url="server.js/{R:1}" />
        </rule>

        <rule name="DynamicContent" patternSyntax="ECMAScript" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_URI}" pattern="^/server\.js" negate="true" />
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>

    <iisnode
      nodeProcessCommandLine="&quot;D:\Program Files\nodejs\node.exe&quot;"
      loggingEnabled="true"
      devErrorsEnabled="false"
    />
  </system.webServer>
</configuration>
